* {
  font-family: "Alan Sans", Helvetica, sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 45px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  transition: 250ms;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  background-color: rgb(216, 216, 216);
}

.btn:hover {
  scale: 110%;
}

#reset-btn {
  display: none;
}

.grid-btn {
  width: 50px;
  height: 50px;
  color: rgb(216, 216, 216);
}

#game-table{
  border-radius: 5px;
}
